body {
    font-family: Arial, Helvetica, sans-serif;
}
#image {
    text-align: center;
}
#search-bar {
    text-align: center;
}
.buttons {
    background-color: #f1f1f1;
    border: 0px;
    border-radius: 4px;
    width: 160px;
    height: 40px;
    margin: 5px;
    font-size: 15px;
    color: #2d2d2d;
}
}
#sign-in {
    color: white;
    background-color: #4285F4;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}
ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
}
a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color:#2d2d2d;
    font-size: 14px;
}
input {
    height: 40px;
    width: 585px;
    margin: 10px;
    border-radius: 40px;
    border-color: black;
    font-size: 20px;
    padding-left: 20px;
}
footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #f1f1f1;
    padding-top: 3px;
    padding-bottom: 4px;
}
li {
    float: left;
}